flows.backup
[{"type":"tab","id":"5b4ec7fa.b7d6b","label":"Sheet 1"},{"id":"6b12142c.0c30ec","type":"inject","name":"","topic":"","payload":"azearaeaze","payloadType":"none","policy":[{"object":{"name":"","type":"app","output":"0","id":"6b12142c.0c30ec"},"flow":[{"target":{"name":"debug","type":"app","input":"0","id":"fb79f5cd.c7a968"},"locks":[{"path":"someUrl/specifying /the/locklocation/MinTrustLevel","args":["0"]},{"path":"someUrl/specifying /the/locklocation/MinReputationLevel","args":["0"]}]},{"target":{"name":"inject","type":"app","input":"0","id":"6b12142c.0c30ec"},"locks":[{"path":"someUrl/specifying /the/locklocation/isMember","args":["0","0"]}]}]},{"object":{"name":"","type":"app","output":"0","id":"6b12142c.0c30ec"},"flow":[{"target":{"name":"function","type":"app","input":"0","id":"ece5a6e3.410db"},"locks":[{"path":"someUrl/specifying /the/locklocation/MinTrustLevel","args":["21"]},{"path":"someUrl/specifying /the/locklocation/MinReputationLevel","args":["23"]}]}]}],"repeat":"","crontab":"","once":false,"x":126.88327026367188,"y":295.2833251953125,"z":"5b4ec7fa.b7d6b","wires":[["796aab80.2e81b4"]]},{"id":"fb79f5cd.c7a968","type":"debug","name":"","policy":[{"object":{"name":"","type":"app","input":"0","id":"fb79f5cd.c7a968"},"flow":[{"source":{"name":"test","type":"app","output":"0","id":"d856d7bc.bdc14"},"locks":[{"path":"someUrl/specifying /the/locklocation/MinTrustLevel","args":["88"]},{"path":"someUrl/specifying /the/locklocation/MinReputationLevel","args":["96"]}]}]}],"active":true,"console":"false","complete":"false","x":929.8832702636719,"y":248.28329467773438,"z":"5b4ec7fa.b7d6b","wires":[]},{"id":"d856d7bc.bdc14","type":"test","name":"Test","topic":"","policy":[{"object":{"name":"","type":"app","output":"0","id":"d856d7bc.bdc14"},"flow":[{"target":{"name":"debug","type":"app","input":"0","id":"fb79f5cd.c7a968"},"locks":[{"path":"someUrl/specifying /the/locklocation/MinTrustLevel","args":["0"]},{"path":"someUrl/specifying /the/locklocation/MinReputationLevel","args":["0"]}]},{"target":{"name":"inject","type":"app","input":"0","id":"6b12142c.0c30ec"},"locks":[{"path":"someUrl/specifying /the/locklocation/isMember","args":["0","0"]}]}]},{"object":{"name":"","type":"app","input":"0","id":"d856d7bc.bdc14"},"flow":[{"source":{"name":"debug","type":"app","output":"0","id":"fb79f5cd.c7a968"},"locks":[{"path":"someUrl/specifying /the/locklocation/MinTrustLevel","args":["1"]},{"path":"someUrl/specifying /the/locklocation/MinReputationLevel","args":["1"]}]},{"source":{"name":"inject","type":"app","output":"0","id":"6b12142c.0c30ec"},"locks":[]}]},{"object":{"name":"","type":"app","output":"0","id":"d856d7bc.bdc14"},"flow":[{"target":{"name":"debug","type":"app","input":"0","id":"fb79f5cd.c7a968"},"locks":[{"path":"someUrl/specifying /the/locklocation/MinTrustLevel","args":["0"]},{"path":"someUrl/specifying /the/locklocation/MinReputationLevel","args":["0"]}]},{"target":{"name":"inject","type":"app","input":"0","id":"6b12142c.0c30ec"},"locks":[{"path":"someUrl/specifying /the/locklocation/isMember","args":["0","0"]}]}]},{"object":{"name":"","type":"app","input":"0","id":"d856d7bc.bdc14"},"flow":[{"source":{"name":"debug","type":"app","output":"0","id":"fb79f5cd.c7a968"},"locks":[{"path":"someUrl/specifying /the/locklocation/MinTrustLevel","args":["1"]},{"path":"someUrl/specifying /the/locklocation/MinReputationLevel","args":["1"]}]},{"source":{"name":"inject","type":"app","output":"0","id":"6b12142c.0c30ec"},"locks":[]}]},{"object":{"name":"","type":"app","output":"0","id":"d856d7bc.bdc14"},"flow":[{"target":{"name":"function","type":"app","input":"0","id":"ece5a6e3.410db"},"locks":[{"path":"someUrl/specifying /the/locklocation/MinTrustLevel","args":["78"]}]},{"target":{"name":"debug","type":"app","input":"0","id":"fb79f5cd.c7a968"},"locks":[{"path":"someUrl/specifying /the/locklocation/MinReputationLevel","args":["56"]}]},{"target":{"name":"function","type":"app","input":"0","id":"ece5a6e3.410db"},"locks":[{"path":"someUrl/specifying /the/locklocation/isMember","args":["78","56"]}]}]}],"field2":"try","x":313.8832702636719,"y":294.2833251953125,"z":"5b4ec7fa.b7d6b","wires":[["9595d662.22b938","1456f4e9.b1be93"],["ece5a6e3.410db"],["88b25968.9251a8"]]},{"id":"ece5a6e3.410db","type":"function","name":"","policy":[{"object":{"name":"","type":"app","output":"0","id":"ece5a6e3.410db"},"flow":[{"target":{"name":"debug","type":"app","input":"0","id":"fb79f5cd.c7a968"},"locks":[{"path":"someUrl/specifying /the/locklocation/MinTrustLevel","args":["2"]},{"path":"someUrl/specifying /the/locklocation/MinReputationLevel","args":["2"]}]}]},{"object":{"name":"","type":"app","input":"0","id":"ece5a6e3.410db"},"flow":[{"source":{"name":"debug","type":"app","output":"0","id":"fb79f5cd.c7a968"},"locks":[{"path":"someUrl/specifying /the/locklocation/MinTrustLevel","args":["22"]}]},{"source":{"name":"test","type":"app","output":"0","id":"d856d7bc.bdc14"},"locks":[{"path":"someUrl/specifying /the/locklocation/isMember","args":["22","22"]}]}]},{"object":{"name":"","type":"app","output":"0","id":"ece5a6e3.410db"},"flow":[{"target":{"name":"test","type":"app","input":"0","id":"d856d7bc.bdc14"},"locks":[{"path":"someUrl/specifying /the/locklocation/MinTrustLevel","args":["0"]},{"path":"someUrl/specifying /the/locklocation/MinReputationLevel","args":["0"]}]},{"target":{"name":"debug","type":"app","input":"0","id":"fb79f5cd.c7a968"},"locks":[{"path":"someUrl/specifying /the/locklocation/MinTrustLevel","args":["0"]}]}]}],"func":"\nreturn msg;","outputs":"1","x":507.8832702636719,"y":346.2832946777344,"z":"5b4ec7fa.b7d6b","wires":[["fb79f5cd.c7a968"]]},{"id":"88b25968.9251a8","type":"template","name":"","policy":[{"object":{"name":"","type":"app","output":"0","id":"88b25968.9251a8"},"flow":[{"target":{"name":"function","type":"app","input":"0","id":"ece5a6e3.410db"},"locks":[{"path":"someUrl/specifying /the/locklocation/MinTrustLevel","args":["455"]}]},{"target":{"name":"debug","type":"app","input":"0","id":"fb79f5cd.c7a968"},"locks":[{"path":"someUrl/specifying /the/locklocation/isMember","args":["55","55"]}]},{"target":{"name":"inject","type":"app","input":"0","id":"6b12142c.0c30ec"},"locks":[{"path":"someUrl/specifying /the/locklocation/MinReputationLevel","args":["55"]}]}]},{"object":{"name":"","type":"app","input":"0","id":"88b25968.9251a8"},"flow":[{"source":{"name":"test","type":"app","output":"0","id":"d856d7bc.bdc14"},"locks":[{"path":"someUrl/specifying /the/locklocation/MinTrustLevel","args":["77"]},{"path":"someUrl/specifying /the/locklocation/MinReputationLevel","args":["99"]}]}]},{"object":{"name":"","type":"app","output":"0","id":"88b25968.9251a8"},"flow":[{"target":{"name":"debug","type":"app","input":"0","id":"fb79f5cd.c7a968"},"locks":[]},{"target":{"name":"function","type":"app","input":"0","id":"ece5a6e3.410db"},"locks":[{"path":"someUrl/specifying /the/locklocation/MinTrustLevel","args":["8"]}]}]}],"field":"payload","template":"This is the payload: {{payload}}!","x":619.8832702636719,"y":204.2833251953125,"z":"5b4ec7fa.b7d6b","wires":[["fb79f5cd.c7a968"]]},{"id":"9595d662.22b938","type":"switch","name":"","property":"payload","rules":[{"t":"eq","v":0,"v2":0}],"checkall":"true","policy":[{"object":{"name":"","type":"app","output":"0","id":"9595d662.22b938"},"flow":[{"target":{"name":"test","type":"app","input":"0","id":"d856d7bc.bdc14"},"locks":[{"path":"someUrl/specifying /the/locklocation/MinReputationLevel","args":["45"]}]},{"target":{"name":"debug","type":"app","input":"0","id":"fb79f5cd.c7a968"},"locks":[]}]}],"outputs":1,"x":600.88330078125,"y":291.8833312988281,"z":"5b4ec7fa.b7d6b","wires":[["fb79f5cd.c7a968"]]},{"id":"1456f4e9.b1be93","type":"compose-auth","name":"authentication server","url":"http://132.231.11.217:8080/auth/user","x":606,"y":121,"z":"5b4ec7fa.b7d6b","wires":[["fb79f5cd.c7a968"]]},{"id":"796aab80.2e81b4","type":"switch","name":"","property":"payload","rules":[{"t":"eq","v":0,"v2":null}],"checkall":"true","outputs":1,"x":256,"y":150,"z":"5b4ec7fa.b7d6b","wires":[["1456f4e9.b1be93"]]}]