nodes/input.json
[{"type":"tab","id":"e1c0e85.2a0f318","label":"Sheet 1"},{"id":"aa3e002c.459e48","type":"mongodb","hostname":"127.0.0.1","port":"27017","db":"raouf","name":"ser1"},{"id":"bd70ceb6.316c4","type":"mongodb","hostname":"127.0.0.1","port":"27017","db":"raouf","name":""},{"id":"198dffb6.aae348","type":"debug","name":"","active":true,"console":"false","complete":"false","x":805.083251953125,"y":251.08334350585938,"z":"e1c0e85.2a0f318","wires":[]},{"id":"8bb3d855.aaa34","type":"inject","name":"start","topic":"","payload":"plz give me a ","payloadType":"string","repeat":"","crontab":"","once":false,"x":346,"y":264.0833435058594,"z":"e1c0e85.2a0f318","wires":[["1a267842.a78218"]]},{"id":"1a267842.a78218","type":"test","name":"Test","topic":"","policy":[{"object":{"name":"test","type":"outport0"},"flow":[{"target":"test","locks":[{"path":"someUrl/specifying /the/locklocation/MinTrustLevel","args":["23"]},{"path":"someUrl/specifying /the/locklocation/MinTrustLevel","args":["23"]},{"path":"someUrl/specifying /the/locklocation/MinTrustLevel","args":["23"]}]}]}],"x":582.083251953125,"y":274.0833435058594,"z":"e1c0e85.2a0f318","wires":[["198dffb6.aae348"],[],[]]}]