public/flows_localhost.json
[{"type":"tab","id":"e1c0e85.2a0f318","label":"Sheet 1"},{"id":"198dffb6.aae348","type":"debug","name":"","active":true,"console":"false","complete":"false","x":933.083251953125,"y":353.0833435058594,"z":"e1c0e85.2a0f318","wires":[]},{"id":"8bb3d855.aaa34","type":"inject","name":"start","topic":"","payload":"plz give me a ","payloadType":"string","repeat":"","crontab":"","once":false,"x":381,"y":338.0833435058594,"z":"e1c0e85.2a0f318","wires":[["1a267842.a78218","6a24577f.bb82c8","9981bc75.85f8e8"]]},{"id":"1a267842.a78218","type":"test","name":"Test","topic":"","policy":[[{"object":{"name":"","type":"app","output":2,"id":"1a267842.a78218"},"flow":[{"target":"test","locks":[{"path":"someUrl/specifying /the/locklocation/MinTrustLevel","args":["1"]}]}]}]],"x":617.083251953125,"y":220.08334350585938,"z":"e1c0e85.2a0f318","wires":[[],[],["c94aa551.3dbc","198dffb6.aae348"]]},{"id":"6a24577f.bb82c8","type":"function","name":"","func":"\nreturn msg;","outputs":1,"x":513.8833312988281,"y":508.8833312988281,"z":"e1c0e85.2a0f318","wires":[["198dffb6.aae348","c94aa551.3dbc","1a267842.a78218"]]},{"id":"c94aa551.3dbc","type":"switch","name":"","property":"payload","rules":[{"t":"eq","v":0,"v2":0}],"checkall":"true","outputs":1,"x":798.88330078125,"y":499.88336181640625,"z":"e1c0e85.2a0f318","wires":[["198dffb6.aae348"]]},{"id":"9981bc75.85f8e8","type":"delay","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":654.8833312988281,"y":381.8833312988281,"z":"e1c0e85.2a0f318","wires":[["198dffb6.aae348"]]}]